# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
*.Rproj
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Data files
*.Rda
*.pdf
*.csv

# system files
*.DS_Store

# misc testing files
sandbox/
lib/
coverage.html

# shared files copied into package at build time
r-pkg/NEWS.md
r-pkg/README.md
r-pkg/inst/testdata/*.json

# Python stuff
**/.pytest_cache/
**/__pycache__/
py-pkg/LICENSE
py-pkg/NEWS.md
py-pkg/README.md
py-pkg/docs/_build

# As long as we're storing the pkgdown site
# at the repo root, should protect against
# people committing files in r-pkg
r-pkg/docs/
